@use '../utilities' as * ;

.btn {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    @extend %button-cta-format;

    .btn-icon {line-height: 0;}
    .btn-icon--none {display: none;}
}

.btn--default {
    background-color: var(--foreground);
    color: var(--background); 

    .btn-icon {
        svg * {color: var(--background);}
    }
}

.btn--outline {
    background-color: transparent;
    border: 1.24px var(--foreground) solid;
    color: var(--foreground);

    .btn-icon {
        svg * {color: var(--foreground);}
    }
}