@use '../utilities' as * ;

.contact {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__heading {
        p {
            a {
                text-decoration: underline;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: inherit;
        text-align: left;

        input,textarea {
            margin-top: 4px;
            color: var(--foreground);
        }

        input:focus, textarea:focus {
            outline: 1.56px var(--foreground) solid;
        }

        button {
            width: 100%;
        }
    }
}