@use '../utilities' as * ;

.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    form {
        display: flex;
        flex-direction: column;
        gap: inherit;
        text-align: left;

        input,textarea {
            margin-top: 4px;
        }

        button {
            width: 100%;
        }
    }
}