@use '../utilities' as * ;

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 56px;

    @include breakpoint(medium) {
        align-items: start;
    }

    &__title {

        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: inherit;
        width: 100%;

        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    
        .intro__buttons {
            display: flex;
            gap: 12px;
        }
    }
}