@use '../utilities' as * ;

.navigation-overlay {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 24px 0;

    @include breakpoint(medium) {
        display: none;
    }
}

.overlay-off {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background);
    

    .navigation__link:hover {
        background-color: var(--accent);
        cursor: pointer;
    }
    
    &__menu--mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background);
        top: 100%;
        left: 0;
        padding: 8px 0;
        gap: 8px;
        width: fit-content;
        line-height: 24px;
        width: 50%;
        border-radius: 0 0 8px 8px;


        @include breakpoint(medium) {
            display: none;
        }

        li {
            display: flex;
            width: 100%;

            .navigation__link {
                width: 100%;
                padding: 12px 0;
                text-align: center;
            }
        }
    }

    &__menu--desktop {
        display: none;

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    &__toggle {
        background-color: var(--background);
        svg {
            width: 40px;
            height: 40px;
            background-color: var(--background);
        }
        @include breakpoint(medium) {
            display: none;
        }
    }

    &__button-container {
       display: flex;
       gap: 16px;
    }

    &__mode {
        width: fit-content;
        padding: 8px;
        border-radius: 8px;
        line-height: 0;
        cursor: pointer;
        background-color: var(--mode);
    }

    &__resume--btn {
        padding: 8px 16px;
        border-radius: 8px;
        color: var(--foreground);
        outline: 1.56px solid var(--mode); 
        background-color: var(--mode-trans);
        cursor: pointer;
    }

    &__mode:hover {
        transform: scale(1.05,1.05);
    }

    &__resume--btn:hover {
        transform: scale(1.05,1.05);
    }

    svg * {
        color: var(--foreground);
    }
}