@use '../utilities' as * ;

.portfolio {

    &__placeholder {
        border: 1.24px solid var(--neutral);
        border-radius: 8px;
        text-align: center;
        margin: 24px 0;
        padding: 24px 0;

        p {
            color: var(--neutral);
        }

    }
}