@use '../utilities' as * ;

:root {
    --sun: #{$sun};
    --moon: #{$moon};

    --background: #{$dark};
    --foreground: #{$light};
    --neutral: #{$neutral-light};
    --accent: #{$accent-dark};
    --mode: var(--moon);
    --mode-trans: #{$moon-trans};

}

[data-theme="false"] {
    --background: #{$light};
    --foreground: #{$dark};
    --neutral: #{$neutral-dark};
    --accent: #{$accent-light};
    --mode: var(--sun);
    --mode-trans: #{$sun-trans};
}