@use '../utilities' as * ;

:root {
    --background: #{$dark};
    --foreground: #{$light};
    --neutral: #{$neutral-light};
    --mode: #{$moon};
}

[data-theme="light"] {
    --background: #{$light};
    --foreground: #{$dark};
    --neutral: #{$neutral-dark};
    --mode: #{$sun};
}