$breakpoints: (
    "small": 0,
    "medium": 764px
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content
    }
}

%neutral-text {
    color: var(--neutral);
}

%button-cta-format {
    padding: 12px 20px;
    border-radius: 8px;
}
