$dark: hsl(0, 2%, 8%);
$light: hsl(0, 0%, 100%);
$neutral-dark: hsl(0, 0%, 50%);
$neutral-light: hsl(0, 0%, 70%);
$accent-dark: hwb(0 15% 85%);
$accent-light: hsl(0, 0%, 92%);
$sun: hsl(47, 100%, 70%);
$moon: hsl(270, 100%, 70%);

