$dark: hsl(0, 2%, 8%);
$light: hsl(0, 0%, 100%);
$neutral-dark: hsl(0, 0%, 55%);
$neutral-light: hsl(0, 0%, 60%);
$accent-dark: hwb(0 15% 85%);
$accent-light: hsl(0, 0%, 90%);
$sun: hsl(47, 100%, 70%);
$sun-trans: hsla(47, 100%, 70%, 0.4);
$moon: hsl(270, 100%, 70%);
$moon-trans: hsla(270, 100%, 70%, 0.4);


