.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    form {
        display: flex;
        flex-direction: column;
        gap: inherit;

        button {
            width: 100%;
        }
    }
}