footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include breakpoint(medium) {
        justify-content: space-between;
        flex-direction: row;
    }

    p {
       color: var(--neutral); 
    }
}