.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    a:hover {
        text-shadow:0 0 1px var(--foreground);
    }
    
    &__menu--mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background);
        top: 100%;
        padding: 8px;
        gap: 8px;
        width: 50%;
        line-height: 24px;

        @include breakpoint(medium) {
            display: none;
        }

        li {
            display: flex;
            width: 100%;

          a {
            width: 100%;
            padding: 8px 0;
            text-align: center;
            border-radius: 8px;
          }
        }
    }

    &__menu--desktop {
        display: none;

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    &__toggle {
        background-color: var(--background);
        svg {
            width: 40px;
            height: 40px;
            background-color: var(--background);
        }
        @include breakpoint(medium) {
            display: none;
        }
    }

    &__mode {
        width: fit-content;
        padding: 8px;
        border-radius: 8px;
        line-height: 0;
        cursor: pointer;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--mode);
    }

    svg * {
        color: var(--foreground);
    }
}