.portfolio {
    &__projects {
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 12px;
            padding: 24px 0;
            
            @extend %heading-3;

            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}