// @import 'colors';
// @import "breakpoints";
@use 'utilities' as *;
@forward 'components'; 
@forward 'global'; 


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


$font-family: 'Inter', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 0.76px;  
}

body {
    font-family: $font-family;
    background-color: var(--background);
    color: var(--foreground);
    text-align: center;

    @include breakpoint(medium) {
        text-align: left;
    }
}

input, button, textarea {
    font: inherit; 
    outline: none;
    border: none;
}

input, textarea {
    border: 1.24px var(--neutral) solid;
    width: 100%;
    background-color: var(--background);
    padding: 12px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {list-style: none;}

svg {
    width: 24px;
    height: 24px;
}

.container { 
    padding: 24px;

    @include breakpoint(medium) {
        margin: 0 auto;
        max-width: 696px;
        padding: 24px 0;

    }
}

.container > section {
    margin-bottom: 100px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;

    @include breakpoint(medium) {
        font-size: 36px;
        line-height: 48px;
    }
}

h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}



// %base-text {
//     font-size: 16px;
//     line-height: 24px;
// }

// %heading-1 {
//     font-size: 36px;
//     line-height: 48px;
//     font-weight: bold;
// }

// %heading-2 {
//     font-size: 24px;
//     line-height: 32px;
//     font-weight: bold;
// }

// %heading-3 {
//     font-size: 20px;
//     line-height: 28px;
//     font-weight: bold;
// }

.heading {
    h2 {
        margin-bottom: 4px;
    }
    p {@extend %neutral-text }
}



