@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'colors';

$font-family: 'Inter', sans-serif;



* {
    font-family: $font-family;
    color: $dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: $light;
}

.container {
    max-width: 696px;
    margin: 0 auto;
    border: 1px solid red;
}
